body {
    background-color:	  #ffff80;
  }

  button{
    background-color:   #e6b800;
    color: white;
    padding: 16px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
  opacity: 1;
}