<app-nav-bar></app-nav-bar>
<br><br>
<div class="container">
  <h2>RETURN ITEM</h2>
<br><br>

<form>
  <div style="position: relative; margin-top: -2em;margin-left: 6em">
     
      <p>
          <label> ISBN Number</label>
      </p>
  </div>

  <div style="position: absolute; margin-top: -3.5em;margin-left: 20em">
      <p>
          <input type="text" [(ngModel)]="returnItem.isbn" name="input" required >
      </p>
  </div>

  <button (click)="rBook()" style="margin-left: 17em; margin-top: 2em" >Return </button>
</form>


</div>