body {
    background-color:#99ffcc;
  }

  button{
    background-color: #33ccff;
    color: white;
    padding: 16px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
  opacity: 1;
}